/* Variables */
:root {
    --brand-red: #f15b58;/*RGBA(241,91,88,1)*/
    --brand-purple: #291a2b;/*RGBA(41,26,43,1)*/
    --google-grey:#d1d1d1;/*RGBA(209,209,209,1)*/
   
   /* --logo-image: url("https://storage.googleapis.com/stripe-sample-images/KAVHOLM.svg");
    */
 --animate-duration: 1s;
    /*
     var(--accent-color);
    */
    
  }
  html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  font-family: 'Nunito Sans', sans-serif;
 /* text-transform: lowercase;*/
}
html{
    height:100%;
    overflow: visible;
    color:var(--google-grey);
}

body,html{
    background-color:#291a2b; 
}
  
#navAndMain{

   /* position: relative;*/
   /* width: 100% !important;*/
   width: 100%;
   /*margin: 0 10%;*/
    position: unset;
    overflow: visible;
    z-index:999;
   /* background: transparent;*/
    background: var(--google-grey);
    /*transition: width 0.4s ease,
                margin 0.4s ease;*/
                
}



/*
#navAndMain.iFrameNotLoaded::after{
    content: '';
    mix-blend-mode: screen;
}
*/











#navAndMain.invoiceOpen{
    /*width: 100%;
    margin: 0;*/
}

#main #intro{
    padding: 0px;
    background: transparent;
    height:93vh;
    transition: all 0.2s ease;
                
    overflow:hidden;
    
}   
#main #intro.isMobile{
    height:83vh;
}
#main #intro.invoiceOpen{
    
    background-color: #d1d1d1;
}
#pdfViewer{
    
    width:100%;
    z-index:999;
    opacity:0;
    transition: all 0.8s ease;
}



#pdfViewer.invoiceOpen{
    opacity:1;
}
/*.arrow {*/
    /* animation: bouncing 1s infinite ease-in-out; 
    bottom: 3vh;
     display: block; 
    height: 50px;
    left: 50%;
    margin-left: -.875em;-25px
    position: absolute;
    width: 50px;
    opacity:1;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;*/
/*}*/
.arrow{
      /* animation: bouncing 1s infinite ease-in-out; */
    /* bottom: 3vh; */
    /* display: block; */
    height: 50px;
    /* left: 50%; */
    /* position: absolute; */
    width: 50px;
    opacity: 1;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;
}
.arrowUp {
    /* animation: bouncing 1s infinite ease-in-out; */
    top: -6px;/*8px;/*3vh;*/
     
    height: 50px;
    /*left: 50%;*/
   /* margin-left: -.875em;-25px*/
    position: relative; /*absolute;*/
    width: 50px;
    opacity:1;
   display:none;
    text-align: center;
    font-size: larger;
    color:var(--brand-purple);
}
/*.shrinkCompen.shrinkCompen_top.unshrunk*/



     






  #landing #header{
      /*height:98vh*/
      /*padding-top: 15vh;
      padding-top: 30%;*/
      /*padding-top: 35vh;*/
      padding-top: 10vh;
      z-index: -1;
      transition: padding-top 0.8s ease;
  }
  #landing #header.directDebitShrink{
    /*padding-top: 10vh;*/
}
  
  #landing{
    height:98vh;
    min-height: 500px;
    /*min-height: 500px;*/
    transition: all 0.8s ease;
}

#landing.shrunk{
   /*height:200px;*/
   /*height:0.5vh;*/
   min-height: 0px;
   overflow: hidden;
   height: 50px;
    /*opacity:0;*/
    pointer-events: none;
}
#landing.shrunk.isMobile{
  
 }
#landing.shrunk .arrow{
    opacity:0;
}


.shrinkCompen{
    height:0vh;
    text-align: center;
    transition: all 0.8s ease;
}
.shrinkCompen.shrinkCompen_top.unshrunk{
    height:3.5vh;
}
.shrinkCompen.shrinkCompen_bottom.unshrunk{
    height:3.5vh;
}
  #mainLogo{
    fill:white;/*var(--google-grey);*/
   
    
}
#mainLogo{
  
}
#mainLogo img.socialIconSet{
  height:  67px;/**/
  filter: url(#obiBrandFilter-white);
}
#mainLogo .svgLink{
  max-width: 30px;
}
#shrinkMobileBuffer{
    height:0vh;
}
#shrinkMobileBuffer.invoiceOpen{
    padding:0px;
}
#landingBottomMenu{
  position: absolute;
  /* display: inline; */
  width: 100%;
  bottom: 15px;
  text-align: center;
}


.svg_white{
    fill:rgba(209, 209, 209, 0.65);
}
#mainLogo .svgLink .svgLinkIcon{
    fill:rgba(209, 209, 209, 0.95);
}
.svgLink{
    fill:var(--brand-purple);
}
a .svgLink:hover,a .svgLink:focus{
    fill:white;/*var(--brand-red);*/
}


#dynamoFooter{
font-size: xx-small;
text-align: center;
padding-top: 5px;
}


#dynamoFooter span a img.footerIcon {
  height: 10px;
  margin-bottom: -2px;
}
#dynamoFooter span a img.footerIcon.larger {
  height: 15px;
  margin-bottom: -5px;
}

.svg-icon svg {
  height:1em;
  width:1em;
}
.svg-icon svg {
  height:1em;
  width:1em;
}
.svg-icon.svg-baseline svg {
  top: .125em;
  position: relative;
}


.svgLinkIcon{
    fill:rgba(209, 209, 209, 0.65);
}
.svgLinkIcon:hover,.svgLinkIcon:focus{
    fill:rgba(209, 209, 209, 1);
}
.svgLinkIcon:active{
  /*  fill:--brand-red;*/
}
.faAdjust{
    top: 4px;
    position: relative;
}

.button .faAdjust{
    /*top: 0.23em;*/
    font-size: 1.6em;
}









#duotone {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

#duotone {
   /* background: #291a2b;  url('https://i.gifer.com/7gS5.gif') no-repeat center center fixed; */
    background-size: cover;

    width: 100%;
    height: 120%;/*100%;*/
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    z-index: -1;

  }
  #duotone.shrunkMode{
    height:90%;
  }
  
  
  #duotone::before {
    background-color: var(--brand-purple);/*rgb(25, 37, 80);*/
    content: '';
    display: block;
    width: 100%;
    
    height: 100%;
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0 ;
    /*backdrop-filter:grayscale(1);*/
    -webkit-backdrop-filter: brightness(92%) blur(3px);
    backdrop-filter:brightness(92%) blur(3px);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
    #duotone.shrunkMode::before {
        background-color:var(--google-grey);
       
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
   
  }
  #duotone::after {
    background-color:var(--google-grey);/*rgb(25, 37, 80);*/
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 ;
    opacity:1;
    filter: contrast(0.15)
    /*backdrop-filter:grayscale(1);
    backdrop-filter:brightness(140%);*/
  }


  #duotone.shrunkMode::after {
     background-color:var(--google-grey);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  
   /*  rgb(25, 37, 80);*/
  
  }
body{
    background:none;
    overscroll-behavior-x: none;/*leftRight | ,none*/
    overscroll-behavior-y: none;/*upDown*/
}

#pdfIframe{
    -webkit-overflow-scrolling: touch !important;
    overflow:hidden;
    opacity:1;
    transition: opacity 0.3s ease;
}
#pdfIframe.unloaded{
    opacity:0;
    
}

#mobileInvoiceHeader{
    text-align: center;
    color: var(--brand-purple);
    /*font-size: xx-large;*/
    padding-top:3%;
    /*max-width:75%;*/
    padding-left: 10%;
    padding-right: 10%;
    display:none;
    line-height: normal;
    font-weight: 900;
    font-family: sans-serif;
    opacity:0;
    transition: opacity 0.4s ease;
}

#landing.isMobile.shrunk #mobileInvoiceHeader{
    opacity:1;
    display:block;
}

#mobileInvoiceHeader:before {
    /*content: "obisims.com\ATHX-1138";*/
    content: attr(data-before);/*"Doppelgänger Dudes Pty Ltd";*/
    
    white-space: pre-wrap;
    
 }

#mobileNav{
    /*display: inline-block;*/
    display: grid;
   /* background-color: var(--brand-purple);*/
   background-color: rgba(0,0,0,0); 
   
   top: 10px;/*30px;*/
    position: fixed;
    
    left: 17px;/*32*/

}
.mobileNavButton{
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    width: 40px;/*40 50*/
    height: 40px;/* 60*/
    text-align: center;/* */
    border-radius: 2px;/*0 */
    /*margin-right: 10px;*/
   margin-bottom: 10px;/* */
    transition: background-color .3s,opacity .8s, visibility .8s;
    opacity: 0;/* 0*/
    visibility: hidden;/* */
    z-index: 1000;/* */

    font-family: "Font Awesome 5 Free";/* */
    font-weight: 900;/* */
    font-style: normal;/* */
    font-size: 1.5em;/* 2*/
    line-height: 40px;/* */
    color: #fff;/* */
    
}
.mobileNavButton:hover {
    cursor: pointer;
    background-color: #333;
  }
  .mobileNavButton:active {
    background-color: #555;
  }
  .mobileNavButton.show {
    opacity: 1;
    visibility: visible;
    transition: background-color .3s,opacity .8s, visibility .8s;
  }

  


#mobile_scrollToTop_UP {
    /*background-color: var(--brand-purple);/*rgba(0,0,0,0.5);
    background-color: rgba(41, 26, 43, 0.8);*/
  }
  #mobile_scrollToTop_UP::after {
    /*content: "\f106";*/
  }

 
  #mobile_scrollToTop_Another::after {
    /*content: "\f571";
    background-color: var(--brand-purple);
    background-color: rgba(41, 26, 43, 0.8);*/
  }

  #mobile_scrollToTop_Share::after {
    /* content: "\f14d";
   f1e0*/
  }
  #mobile_scrollToTop_Download::after {
    /* content: "\f0c7";
   //f56d*/
  }













#binderCover{
    transition: all 0.2s ease;
    position:absolute;
    z-index:999;
    display: block;
    width: 92vw;
    place-items: center;
    opacity:1;
}
#binderCover div span {
    display: block;/*table-caption*/
    text-align: center;
    text-align: -webkit-center;
}
#binderCover div{
    /* display: block; */
     width: 92vw;
    
     padding-top: 47%;
     /*background-color:var(--brand-red);*/
     text-align:center;
     text-align: -webkit-center;
 }
  #tilde{
    font-size: 215px;
     line-height: 40px;
   color: #291a2b;
   display:initial;
  }

 
  label{
    position: relative;
    height: 125px;
    width: 125px;
    display: inline-block;
    border: 20px solid rgba(41, 26, 43,0.0);
    border-radius: 50%;
    border-left-color:var(--google-grey);
    animation: rotate 1.2s linear infinite;
  }
  @keyframes rotate {
    50%{
      border-left-color: var(--google-grey);
    }
    75%{
      border-left-color: var(--google-grey);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  

  label#iFrameLoadSpinner.shrinkOut{
    position: relative;
    border: 0px solid var(--google-grey);
    /*height: 0px;
    width: 0px;*/
    opacity:0;
    transition: width .5s,height .5s,opacity .5s ease-out,border .5s ease-out;
  }

  label .check-icon{
    display: none;
  }
  label .check-icon:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 28px;
    transform: scaleX(-1) rotate(135deg);
    height: 56px;
    width: 28px;
    border-top: 4px solid #291a2b;
    border-right: 4px solid #f15b58;
    transform-origin: left top;
    animation: check-icon 0.8s ease;
  }
  
  @keyframes check-icon {
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    20%{
      height: 0;
      width: 28px;
      opacity: 1;
    }
    40%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
    100%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
  }
  input{
    display: none; 
  }
  input:checked ~ label .check-icon{
    display: block;
  }
  input:checked ~ label{
    animation: none;
    border-color: #291a2b;
    transition: border 0.5s ease-out;
  }




 
  #hammerMe{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height:100%;
      background-color: var(--brand-purple);
  }

  #mainLogoContainer{
   


  }

  #invoiceHeader{
    font-size: 3.25em;
    color:var(--google-grey);
  }
.upperCase{
  text-transform: uppercase;
}
  #invoiceHeader #invoiceTitle {
    text-transform: uppercase;
    font-weight: 700;
    color:white;
}
#mainLogo svg{
  text-align: right;
  POSITION: absolute;
  /*padding-top: 15px;*/
  margin-top: 4px;
}


.invoiceHeader_wrapper {
 /* background-color: #f1f1f1;*/
 
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content:center;
}

.invoiceHeader_innerWrapper {
  line-height: 1;
  display: flex;
  text-align: center;
  width: fit-content;
}

.invoiceHeader_box {
  display: inline-block;
  /*padding: 0 10px 0px 0;*/
  padding: 0 5px 0px 0px;
  opacity: 1;
 /* background-color: #32CD32;*/
}

#landing header#header {
 /* padding-bottom: 30px;
 padding-bottom: 10px;*/
 padding-bottom: 0px;
}

#invoiceTitleContainer.invoiceHeader_box{
  width: max-content;
}

.payButton:active,.payButton:focus{
outline:none;
}
#paymentOptions li{
  transition: padding 0.4s ease;
  }
#paymentOptions.hidePadding li{
  padding:0;
  }
#pay_instructions_wrapper{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}
#pay_instructions_wrapper .pay_instructions_left,#pay_instructions .pay_instructions_right{
 /* background: #ccc;
  padding: 2%;*/
  padding: 7px;
}
#pay_instructions_wrapper .pay_instructions_right{

  text-align: left;
}
#pay_instructions_wrapper .pay_instructions_left{

  text-align: left;
}
#pay_instructions_footer{
  display: inline-block;
}
#pay_instructions_footer.receipt{
  font-size:80%;
 
}

a {
  color:var(--google-grey);
}
a:hover{
  color:white;/*var(--brand-red);*/
  font-weight: bold;
}

ul#paymentOptions {
  margin-bottom: 0;
 /* margin-bottom: 20px;*/
}

ul#paymentOptions.li{
    float:left;
    overflow: hidden;
}
.buttonPayFooter{
  
  display: none;

} 

.surcharge{
  font-size: x-small;
  display: block;
  opacity:1;
  transition: all 0.3s ease;
}
.surcharge.notActive{
  display: none;
  opacity:0;
  
}
#buttonPayIcons img{
  height: 10px;
  margin: 0 1px 0 1px;
}
#landingFooterObi_mobile a {
  margin:0 8px 0px 8px;
}
#landingScrollDownButton{
  text-align: center;
  /* position: unset; */
  display:none;
  bottom: 0;
  width: 100%;
}
img.socialIconSet {
  height: 14px;
  margin: 0 3px 0px 3px;/**/
  transition: height 0.3s ease;
  
}
.whiteSvgFilter{
  filter: url(#obiBrandFilter-white);
}
.buttonPayFooter #buttonPayIcons img{
  filter: url(#obiBrandFilter-white);

}
#buttonPayIcons {
/*font-size: x-small;
display: block;*/
opacity:1;
transition: all 0.3s ease;
}
#buttonPayIcons.notActive{
display: none;
opacity:0;

}
img{
  filter: url(#obiBrandFilter-grey);
}
img.socialIconSet:hover {
  /*filter: url(#obiBrandFilter-red);*/
  filter: url(#obiBrandFilter-white);
  height: 16px;
}

#landingFooterObi div a img.socialIconSet.whiteSvgFilter {
  height: 16px;
}

/* SMALL SCREENS */

@media screen and (max-width: 480px){
  /*ul.icons {
      display: none;
  }*/
  
  #paymentOptions li ul.icons{
      display: none;
  }
  #pay_instructions_wrapper .pay_instructions_left b{

    display: block;
  }
}
@media screen and (max-height: 650px){
  #landing #header {
    padding-top: 2vh;
  }
}




/*/////////////////////// /////////////////////// /
                   PROGRESS BAR 
//////////////////////// ///////////////////////*/
.progressBar_wrapper{
  text-align: center;
}
.progressBar {
  text-align: left;
  width: 75%;/*100*/
  -webkit-filter: blur(0px);
  filter: blur(0px);
  font-size: 0px;
  background: rgba(41, 26, 43,0.05);/*#484850*/
  padding: 0px;
  border-radius: 30px;
  margin: 2px auto 0px auto;
  border: 1px solid rgba(41, 26, 43,0.75); 
  box-shadow: 
    /*inset 0 1px 0 rgba(255,255,255,0.25),*/
    inset 0 0 3px rgba(41, 26, 43,0.3),
		0 1px 1px rgba(256,256,256,0.45),
    inset 0 3px 6px rgba(41, 26, 43,0.5);
  position: relative;
  transition: all 3s ease;
  
}
.progressBar_progress {
  width: 0%;
  height: 4px;/*20px;*/
  border-radius: 25px 3px 3px 25px;
  background-color: var(--google-grey);/*hsla(131, 55%, 45%, 1);*/
  position: relative;
  box-shadow: 
    /* This is the top gradient for the color bar */
    inset 0 5px 0 rgba(255,255,255,0.2),
    inset 0 1px 1px rgba(41, 26, 43,0.125);
  cursor: pointer;
  margin: 0 0px;
  border-right: 1px solid rgba(41, 26, 43,0.75);
}
/*/////////////////////// ///////////////////////*/
.progressBar.blurred {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}



.replace_clientName{
  font-size: 80%;   
  color:white;
}

#dueTimer{
  opacity:1;
  transition: opacity 1.8s ease;
}
#dueTimer.initialHide{
  opacity:0;
 
}

#pay_instructions_footer button.payButton{/*confirm_directDebit*/
  display: inline;
}

@media screen and (max-width: 480px) {
  /* mobile button variation */
  #paymentOptions.hidePadding{
    padding: 0 7vw 0px 7vw;
  }
  #paymentOptions.hidePadding li{
    display:flex;
    justify-content: center;
  }
  #paymentOptions.hidePadding li .buttonPayFooter{
    padding-top: 5px;
    
  }
}
