/* Variables */
:root {
    --brand-red: #f15b58;
    --brand-purple: #291a2b;
   /* --logo-image: url("https://storage.googleapis.com/stripe-sample-images/KAVHOLM.svg");
    */

    /*
     var(--accent-color);
    */
  }

#navAndMain{
   /* position: relative;*/
    width: 100% !important;
    position: unset;
    overflow: visible;
    z-index:999;
    background: transparent;
    background: white;
}

#main #intro{
    padding: 10px;
    background: transparent;
    height:91vh;
    transition: all 0.2s ease;
}   
#main #intro.invoiceOpen{
    background-color: #d1d1d1;
}
#pdfViewer{
    width:100%;
    z-index:999;
    opacity:0;
    transition: all 0.8s ease;
}
#pdfViewer.invoiceOpen{
    opacity:1;
}
.arrow {
    /* animation: bouncing 1s infinite ease-in-out; */
    bottom: 3vh;
    /* display: block; */
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    opacity:1;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;
}
.arrowUp {
    /* animation: bouncing 1s infinite ease-in-out; */
    top: 8px;/*3vh;*/
    /* display: block; */
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: relative; /*absolute;*/
    width: 50px;
    opacity:0;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;
}
.arrowUp.invoiceOpen{
    opacity:1;
}
  #landing #header{
      /*height:98vh*/
      padding-top: 25vh;
      z-index: -1;
  }
  #landing{
    height:98vh;
    transition: all 0.8s ease;
}
#landing.shrunk{
    height:200px;
    opacity:0;
    pointer-events: none;
}
#landing.shrunk .arrow{
    opacity:0;
}
.shrinkCompen{
    height:0vh;
    transition: all 0.8s ease;
}
.shrinkCompen.shrinkCompen_top.unshrunk{
    height:4.5vh;
}
.shrinkCompen.shrinkCompen_bottom.unshrunk{
    height:4.5vh;
}
  #mainLogo{
    fill:white;
}

.svg_white{
    fill:rgba(255, 255, 255, 0.65);
}
#mainLogo .svgLink .svgLinkIcon{
    fill:rgba(255, 255, 255, 0.95);
}
.svgLink{
    fill:var(--brand-purple);
}
a .svgLink:hover,a .svgLink:focus{
    fill:var(--brand-red);
}
body,html{
    background-color:#291a2b!important;
}

#dynamoFooter{
font-size: xx-small;
text-align: center;
}
.svgLinkIcon{
    fill:rgba(255, 255, 255, 0.65);
}
.svgLinkIcon:hover,.svgLinkIcon:focus{
    fill:rgba(255, 255, 255, 1);
}
.svgLinkIcon:active{
    fill:--brand-red;
}
.faAdjust{
    top: 4px;
    position: relative;
}

.button .faAdjust{
    /*top: 0.23em;*/
    font-size: 1.6em;
}
.surcharge{
    font-size: x-small;
    display: block;
    opacity:1;
    transition: all 0.3s ease;
}
.surcharge.notActive{
    display: none;
    opacity:0;
    
}


@media screen and (max-width: 480px){
    ul.icons {
        display: none;
    }
}
