/* Variables */
:root {
    --brand-red: #f15b58;
    --brand-purple: #291a2b;
    --google-grey:#d1d1d1;
   /* --logo-image: url("https://storage.googleapis.com/stripe-sample-images/KAVHOLM.svg");
    */
 --animate-duration: 1s;
    /*
     var(--accent-color);
    */
  }

  
#navAndMain{
   /* position: relative;*/
    width: 100% !important;
    position: unset;
    overflow: visible;
    z-index:999;
    background: transparent;
    background: white;
}

#main #intro{
    padding: 10px;
    background: transparent;
    height:93vh;
    transition: all 0.2s ease;
    overflow:hidden;
}   
#main #intro.invoiceOpen{
    background-color: #d1d1d1;
}
#pdfViewer{
    -webkit-overflow-scrolling: touch;
    width:100%;
    z-index:999;
    opacity:0;
    transition: all 0.8s ease;
}
#pdfViewer.invoiceOpen{
    opacity:1;
}
.arrow {
    /* animation: bouncing 1s infinite ease-in-out; */
    bottom: 3vh;
    /* display: block; */
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    opacity:1;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;
}
.arrowUp {
    /* animation: bouncing 1s infinite ease-in-out; */
    top: 8px;/*3vh;*/
    /* display: block; */
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: relative; /*absolute;*/
    width: 50px;
    opacity:0;
    transition: all 0.3s ease;
    text-align: center;
    font-size: larger;
}
.arrowUp.invoiceOpen{
    opacity:1;
}
  #landing #header{
      /*height:98vh*/
      padding-top: 15vh;
      z-index: -1;
  }
  #landing{
    height:98vh;
    /*min-height: 500px;*/
    transition: all 0.8s ease;
}
#landing.shrunk{
   /*height:200px;*/
   height: 50px;
     /*height:0.5vh;*/
    opacity:0;
    pointer-events: none;
}
#landing.shrunk .arrow{
    opacity:0;
}


.shrinkCompen{
    height:0vh;
    transition: all 0.8s ease;
}
.shrinkCompen.shrinkCompen_top.unshrunk{
    height:3.5vh;
}
.shrinkCompen.shrinkCompen_bottom.unshrunk{
    height:3.5vh;
}
  #mainLogo{
    fill:white;
}



.svg_white{
    fill:rgba(255, 255, 255, 0.65);
}
#mainLogo .svgLink .svgLinkIcon{
    fill:rgba(255, 255, 255, 0.95);
}
.svgLink{
    fill:var(--brand-purple);
}
a .svgLink:hover,a .svgLink:focus{
    fill:var(--brand-red);
}

body,html{
    background-color:#291a2b;
  
        
    
}

#dynamoFooter{
font-size: xx-small;
text-align: center;
}



.svgLinkIcon{
    fill:rgba(255, 255, 255, 0.65);
}
.svgLinkIcon:hover,.svgLinkIcon:focus{
    fill:rgba(255, 255, 255, 1);
}
.svgLinkIcon:active{
    fill:--brand-red;
}
.faAdjust{
    top: 4px;
    position: relative;
}

.button .faAdjust{
    /*top: 0.23em;*/
    font-size: 1.6em;
}
.surcharge{
    font-size: x-small;
    display: block;
    opacity:1;
    transition: all 0.3s ease;
}
.surcharge.notActive{
    display: none;
    opacity:0;
    
}


@media screen and (max-width: 480px){
    ul.icons {
        display: none;
    }
}






#duotone {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

#duotone {
   /* background: #291a2b;  url('https://i.gifer.com/7gS5.gif') no-repeat center center fixed; */
    background-size: cover;

    width: 100%;
    height: 100%;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    z-index: -1;
   
    -webkit-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 100ms linear;
  }
  
  
  
  #duotone::before {
    background-color: var(--brand-purple);/*rgb(25, 37, 80);*/
    content: '';
    display: block;
    width: 100%;
    
    height: 100%;
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0 ;
    /*backdrop-filter:grayscale(1);*/
    backdrop-filter:brightness(92%) blur(2px);
  }
    #duotone.shrunkMode::before {
        background-color:var(--google-grey);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 100ms linear;
   
  }
  #duotone::after {
    background-color:var(--google-grey);/*rgb(25, 37, 80);*/
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 ;
    opacity:1;
    filter: contrast(0.15)
    /*backdrop-filter:grayscale(1);
    backdrop-filter:brightness(140%);*/
  }


  #duotone.shrunkMode::after {
      background-color:var(--google-grey);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  
   /*  rgb(25, 37, 80);*/
  
  }
body{
    background:none;
}

#pdfIframe{
    overflow-x: hidden;
    overflow:hidden;
}